form {
    display: flex;
    flex-direction: column;
    background-color: $color-light-blue;
    width: 35%;
    padding: 2%;

    label {
        color: $color-black;
        margin-top: 10px;
        margin-bottom: 2px;
    }

    input, textarea {
        border: none;
        border-radius: 10px;
        margin-top: 2px;
    }

    input {
        height: 35px;
        margin-bottom: 10px;
    }

    #nomPrenom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }

    .test{
        flex-direction: column;
        height: auto;
        width: 45%;
    }

    button {
        margin-top: 20px;
        background-color: $color-dark-blue;
        color: $color-white;
        border-radius: 20px;
        width: auto;
        padding: 10px;
    }
}

@media(max-width: 850px) 
{
    form {
        width: 70%;
    }
}