.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;

    img {
        height: 500px;
    }

    div {
        display: flex;
        justify-content: center;
    }

    #présentation {
        background-color: $color-light-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .presentationText {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border-radius: 100%;
            border-color: $color-black;
            background-color: $color-blue;
            color: $color-white;
            width: 500px;
            aspect-ratio: 1/1;

            p {
                display: flex;
                justify-content: center;
                width: 60%;
                margin-top: 0px;
            }

            h3 {
                margin-top: 0px;
            }  

            img {
                width: 30%;
                height: auto;
                border-radius: 50%;
                margin-top: 4%;
            }
        }
    }

    #competences {
        background: linear-gradient($color-light-blue, $color-blue);
    }

    #projets {
        background-color: $color-blue;
        color: white;
    }

    #contact {
        background: linear-gradient($color-blue, $color-dark-blue);
        color: $color-white;
    }
}

@media(max-width: 850px) 
{
    .home {

        #présentation {

            .presentationText {
                border-radius: 0px;
                width: 87%;
                align-items: center;
                
                p {
                    margin-bottom: 5%;
                }
            }
        }
    }
}