$font-title:  'Kanit', sans-serif;
$font-text: 'Montserrat', sans-serif;
$color-white: white;
$color-whitesmoke: whitesmoke;
$color-black: black;
$color-light-blue: #4092f0;
$color-blue: #004ABA;
$color-dark-blue: #011028;
$color-gray: lightgray;